<!-- Footer -->
<footer class="text-center text-white" style="background-color: #52575D; border-radius: 5px;">
    <div class="container p-4">
      <section class="mb-4">
        <p>
          OverGame Store <br> Tu tienda de videojuegos favorita. ¡Explora, juega y disfruta!
        </p>
      </section>
  
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Información</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="#!" class="text-dark">Términos y condiciones</a></li>
              <li><a href="#!" class="text-dark">Política de privacidad</a></li>
              <li><a href="#!" class="text-dark">Ayuda</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contacta con nosotros</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="#!" class="text-dark">Teléfono: 099 540 3572</a></li>
              <li><a href="#!" class="text-dark">Horario de atención: Lunes a Viernes de 9:00 a 18:00</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Ubicación</h5>
            <ul class="list-unstyled mb-0">
              <li><a href="#!" class="text-dark">ITSQMET</a></li>
              <li><a href="#!" class="text-dark">5 Esquinas</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 OverGame Store. Todos los derechos reservados.
    </div>
  </footer>
