<div style="background-color: #FEFAE0;">
<div class="container">
    <section class="section">
        <br>
        <h2 class="section-title">Sobre Nosotros</h2>
        <br>
        <!-- Misión -->
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="image/mision.jpg" class="card-img-top" alt="Misión">
                    <div class="card-body">
                        <h5 class="card-title">Nuestra Misión</h5>
                        <p class="card-text">En OverGame Store, nuestra misión es proporcionar una experiencia de compra inigualable para los amantes de los videojuegos. Nos esforzamos por ofrecer productos de alta calidad, un servicio al cliente excepcional y un ambiente donde los jugadores puedan encontrar todo lo que necesitan para disfrutar al máximo.</p>
                    </div>
                </div>
            </div>

            <!-- Visión -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="image/vision.jpg" class="card-img-top" alt="Visión">
                    <div class="card-body">
                        <h5 class="card-title">Nuestra Visión</h5>
                        <p class="card-text">Nuestra visión es ser la tienda de videojuegos líder en el mercado, conocida por su innovación, excelente atención al cliente y compromiso con la comunidad gamer. Queremos ser el primer destino para todos los entusiastas de los videojuegos, tanto locales como globales.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Experiencia -->
        <div class="row justify-content-center">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="image/exp.webp" class="card-img-top" alt="Experiencia" style="height: 525px;">
                    <div class="card-body">
                        <h5 class="card-title">Nuestra Experiencia</h5>
                        <p class="card-text">Contamos con más de 10 años de experiencia en la industria de los videojuegos. Nuestro equipo está compuesto por apasionados del gaming con amplio conocimiento del sector, lo que nos permite ofrecer una selección curada de productos y asesoramiento experto para cada cliente.</p>
                    </div>
                </div>
            </div>

            <!-- Personal -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="image/ejecutivo.png" class="card-img-top" alt="Personal">
                    <div class="card-body">
                        <h5 class="card-title">Nuestro Personal</h5>
                        <p class="card-text">Nuestro equipo está compuesto por profesionales altamente capacitados que comparten una profunda pasión por los videojuegos. Cada miembro de nuestro personal está dedicado a proporcionar un servicio excepcional y a asegurar que cada cliente tenga la mejor experiencia posible.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<br>
    
</div>