<div class="error-container text-center" style="background-color: #FEFAE0; min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="error-content">
      <h1 class="error-title" style="font-size: 120px; font-weight: bold; color: #C0C78C;">404</h1>
      <img src="image/error4.gif" alt="over">
      <br><br><br>
      <h2 class="error-message" style="font-size: 36px; color: #000000;">Página no encontrada</h2>
      <p class="error-description" style="font-size: 18px; color: #6c757d; max-width: 600px;">Lo sentimos, la página que estás buscando no existe. Puede que se haya movido o que nunca haya existido.</p>
      <a href="/home" class="btn btn-primary btn-lg mt-4 px-5 py-2" style="background-color: #C0C78C; border: none; border-radius: 30px; transition: background-color 0.3s ease;">
        Regresar al Inicio
      </a>
    </div>
  </div>
  